<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJ-eAQbqBMtH_dswrN3ftIgMPYtsWFgew</string>
	<key>GCM_SENDER_ID</key>
	<string>177298313115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AudioPlayer</string>
	<key>PROJECT_ID</key>
	<string>audioplayer-597cc</string>
	<key>STORAGE_BUCKET</key>
	<string>audioplayer-597cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177298313115:ios:9024f10a043bf431339b3e</string>
</dict>
</plist>